<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contacts</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="wrapper"> 

  <h1>Tobi's Tracker</h1>

  <%= yield %>
 <button> <a href="/">Main Menu</a></button>
  <img src="http://lorempixel.com/700/500/">

</div>


  
</body>
</html>