<h1>Create new Contact</h1>

<form action="/contacts" method="post">
  <input type="text" class="my_input" placeholder="First Name" name="first_name">
  <input type="text" class="my_input" placeholder="Last Name" name="last_name">
  <input type="text" class="my_input" placeholder="Email" name="email">
  <input type="text" class="my_input" placeholder="Note" name="note">
  <input type="submit" name="Submit">
</form>