<h1>Create New Contact</h1>

<form action="/contacts" method="post">
  <label>First Name<input type="text" class="my_input" placeholder="First Name" name="first_name"></label>
  <label>Last Name<input type="text" class="my_input" placeholder="Last Name" name="last_name"></label>
  <label>Email<input type="text" class="my_input" placeholder="Email" name="email"></label>
  <label>Note<input type="text" class="my_note" placeholder="Note" name="note"></label>
  <label><input type="submit" name="Submit">
</form>