<h1>Create New Contact</h1>

<form action="/contacts" method="post">
  <label>First Name<input type="text" class="my_input" placeholder="Carrie" name="first_name"></label>
  <label>Last Name<input type="text" class="my_input" placeholder="Bradshaw" name="last_name"></label>
  <label>Email<input type="text" class="my_input" placeholder="satc@gmail.com" name="email"></label>
  <label>Note<input type="text" class="my_note" placeholder="I couldn't help but wonder..." name="note"></label>

  <label>Active<input type="radio" name="status" value="active"></label>
  <label>Inactive<input type="radio" name="status" value="inactive"></label>

  

  <label><input type="submit" name="Submit">
</form>